.DS_Store
sample_app/.dart_tool/
app_updater_cli/.dart_tool/
sample_app/.flutter-plugins-dependencies
sample_app/build/
sample_app/android/build/
patch_artifacts/**/*.apk
patch_artifacts/**/*.so
patch_artifacts/**/*.sha256
patch_artifacts/**/patch_manifest.json
patch_artifacts/**/*.diff
keys/
.cache/
backend/node_modules/
backend/.env
maven-repo/
ota_runtime_android/.gradle/
ota_runtime_android/build/
ota_runtime_android/local.properties
app_updater/.dart_tool/
app_updater/build/
app_updater/.flutter-plugins-dependencies
app_updater/example/.dart_tool/
app_updater/example/build/
app_updater/example/android/build/
app_updater/example/.flutter-plugins-dependencies
app_updater/example/android/local.properties
